.page {
  margin: 40px 20px;

  color: $color;

  @media (min-width: $screen-sm-min) {
    margin: 40px 60px;
  }

  @media (min-width: $screen-lg-min) {
    width: $screen-lg-width;

    margin: 40px auto;
  }

  &__header {
    margin-bottom: 40px;
  }
}
