@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i");
* {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 300; }

body {
  margin: 0; }

h1, h2, h3, th {
  font-weight: 400; }

button {
  line-height: 1.5; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

th, td {
  padding: 0; }

.page {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #2c3e50; }

.header {
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center; }

.section {
  margin: 40px 20px 0; }

.input {
  margin-bottom: 15px;
  padding: 10px 20px;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
  font-size: 16px;
  border: 1px solid #e6e6e6;
  outline: none; }

.button {
  padding: 10px 20px;
  display: inline-block;
  font-size: 14px;
  background-color: #2c3e50;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none; }
  .button:hover {
    background-color: #1a242f; }

.input-form {
  display: flex;
  flex-direction: column; }

.output-section__header {
  text-align: center; }

.table {
  width: 100%;
  border: 1px solid #e6e6e6;
  font-size: 16px; }
  .table th {
    text-align: left; }
  .table th, .table td {
    border: 1px solid #e6e6e6;
    padding: 10px;
    padding-left: 20px; }
  .table thead th, .table thead td {
    border-bottom-width: 2px; }
