.textarea {
  .public-DraftEditor-content {
    min-height: 200px;
    max-height: 500px;

    overflow: auto;

    font-family : "PT Mono", "Ubuntu Mono", Consolas, Menlo, "Courier New", monospace;
    font-size: 18px;
    line-height: 1.7;

    border: 1px solid $border-color;

    resize: vertical;
  }

  .public-DraftEditorPlaceholder-root,
  .public-DraftEditor-content {
    padding: 10px 15px;

    @media (min-width: $screen-sm-min) {
      padding: 20px;
    }
  }
}
