.textarea {
  .public-DraftEditor-content {
    min-height: 200px;
    max-height: 400px;

    overflow: auto;

    font-size: 16px;

    border: 1px solid $border-color;
    outline: none;

    resize: vertical;
  }

  .public-DraftEditorPlaceholder-root,
  .public-DraftEditor-content {
    padding: 10px 15px;

    @media (min-width: $screen-sm-min) {
      padding: 20px;
    }
  }
}
