.page {
  margin: 40px 20px;

  color: $blue;

  @media (min-width: $screen-sm-min) {
    margin: 40px 60px;
  }

  @media (min-width: $screen-lg-min) {
    width: $screen-lg-width;

    margin: 40px auto;
  }

  &__header {
    margin-bottom: 40px;
  }

  &__block {
    max-width: 800px;

    margin: 0 auto 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $screen-sm-min) {
      margin-bottom: 40px;
    }
  }
}
