.editor-content {
  font-family: var(--font-family-mono);
  line-height: 1.3;

  .public-DraftEditor-content {
    min-height: 100px;
    max-height: 200px;
    padding: 10px 15px;
    overflow-y: auto;

    @media (min-width: $screen-sm-min) {
      min-height: 200px;
      max-height: 500px;
    }
  }

  &-arrow {
    pointer-events: none;

    &::before {
      content: ' \27f6';
    }

    span {
      opacity: 0;
    }
  }

  &-arrow-placeholder {
    pointer-events: none;

    &::after {
      content: ' \27f6';
      opacity: 0.5;
    }
  }

  &-empty-chain-placeholder {
    pointer-events: none;

    &::before {
      content: ' \27f6';
    }

    span {
      opacity: 0;
    }

    &::after {
      content: '\03b5';
      opacity: 0.5;
    }
  }

  &-nonterminal {
    font-weight: bold;
  }
}
