.textarea {
  padding: 10px 15px;

  border: 1px solid $border-color;

  &__editor {
    display: flex;

    min-height: 200px;
    max-height: 500px;

    margin-top: 15px;

    overflow: auto;

    font-family : "PT Mono", "Ubuntu Mono", Consolas, Menlo, "Courier New", monospace;
    font-size: 18px;
    line-height: 1.7;

    .public-DraftEditor-content {
      word-break: break-word;

      resize: vertical;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid $border-color;
  }

  &__button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__content {
    width: 100%;
  }

  &__numbers {
    height: 100%;
    min-height: inherit;

    padding-right: 15px;

    color: #9197a3;
  }
}
