.section {
	margin: 40px 0 60px;

	@media (min-width: $screen-sm-min) {
		flex: 0 1 50%;

		margin-top: 0;
		margin-right: 60px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__header {
		text-align: center;
	}
}
