@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i');

$color: #2c3e50;
$border-color: #e6e6e6;
$error-color: #f2dede;

$screen-sm: 768px;
$screen-sm-min: $screen-sm;

$screen-lg: 1240px;
$screen-lg-width: 1200px;
$screen-lg-min: $screen-lg;
